<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block name="title"}{/block}</title>
    {css href="/static/css/bootstrap.min.css"}
    {block name="css"}{/block}
    <!--[if lt IE 9]>
    {js href="/static/js/html5shiv.min.js"}
    {js href="/static/js/respond.min.js"}
    <![endif]-->
</head>
<body>
{block name="body"}{/block}
{js href="/static/js/jquery.min.js"}
{js href="/static/js/bootstrap.min.js"}
{block name="js"}{/block}
</body>
</html>